---
home: active
---
	

	<main class="container">

		<header>
			<h1>Marc Ascoli / Atelier 32</h1>
		</header>
		
		<div id="image" class="lazy" data-src="/assets/img/intro.jpg" link-to="https://www.artandcommerce.com/artists/creative-directors/Marc-Ascoli"></div>

		<footer>
			<p><a href="mailto:marc@atelier32.com">marc@atelier32.com</a></p>
			<p><a href="https://www.artandcommerce.com/artists/creative-directors/Marc-Ascoli" rel="noopener nofollow">Art+Commerce</a></p>
		</footer>

	</main>
